

<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
<ion-list>
  <!-- <ion-item *ngFor="let item of results">
    {{ item.title }}
  </ion-item> -->
</ion-list>


</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngIf="(results | async)?.length<1">Aucun résultat</ion-item>

    <button ion-item *ngFor="let item of (results | async)" (click)="itemSelected(item)">
      {{ item.title }}
    </button>
  </ion-list>
</ion-content>
