<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
<ion-list>
  <ion-item *ngFor="let item of results">
    {{ item.title }}
  </ion-item>
</ion-list>


</ion-header>

<ion-content padding>
  <ion-list>
    <!-- <ol>
      <li *ngFor="let item of results">toto</li>
    </ol> -->
    <ion-list inset>
      <!-- <button ion-item *ngFor="let item of results" (click)="itemSelected(item)">
        {{ item.title }}
      </button> -->
    </ion-list>
  </ion-list>
</ion-content>
